body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Barra header */
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
}

.navbar .educacion {
    display: block;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 20px;
}

.boton-cerrar-sesion button {
    background-color: cyan;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-areas:
        "perfil-tarjeta solicitudes"
        "perfil-tarjeta tus-conexiones"
        "educacion tus-conexiones";
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
}

/*Perfil del usuario */

.perfil-tarjeta {
    grid-area: perfil-tarjeta;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.perfil-contenido {
    padding: 30px;
    text-align: left;
    bottom: 70px;
}

.perfil-header {
    text-align: left;
    background-color: #3498db;
    width: 100%;
    height: 120px;

}

.perfil-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.perfil-contenido h1 {
    font-size: 24px;
}

.edit-profile {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}

/* Solicitudes de amsitad*/

.solicitudes {
    grid-area: solicitudes;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}


.solicitud {
    display: flex;
    align-items: right;
    justify-content: space-between;
    margin-bottom: 10px;
}

.solicitud img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.acciones button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
}

.acciones .aceptar {
    color: green;
}

.acciones .rechazar {
    color: red;
}

/*Informacion del perfil*/

.educacion {
    grid-area: educacion;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/*Amigos en el perfil*/
.tus-conexiones {
    grid-area: tus-conexiones;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.tus-conexiones ul {
    list-style: none;
    padding: 0;
}

.tus-conexiones li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tus-conexiones img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/*Final de la pagina*/

.footer {
    background-color: white;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 50px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}